.ipynb_checkpoints/ git add .gitignore git commit -m Actualizar .gitignore para ignorar .ipynb_checkpoints
.venv
bin/mapa_cantidad.html
bin/mapa_precio.html
notebooks/.ipynb_checkpoints
bin/.ipynb_checkpoints

